*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background-image: url(robot.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
button{
    font-size: 2rem;
    background-color: rgb(244, 60, 91);
    outline: none;
    border-radius: 7px;
    border: none;
    padding: 7px;
    backdrop-filter: blur(4px);
    
}
button:hover{
    color: white;
    backdrop-filter: blur(0px);
    box-shadow: 1px 1px 9px 7px grey;
}
